env/
__pycache__/
*.pyc
training_data/
training_data_mb4000/
training_data/mb4000_v2/
base_caller_model.keras
*.npz
*.h5
deep-learning-peak-detection-main.zip
quantified_multichannel_results.csv
.ipynb_checkpoints/
Text/
__pycache__/
*.pyc
.DS_Store
OY/
MB4000_DEMO_DATA/
MB4000_M13_DT/
MB4000_M13_with_6_basecallers/
RS1695/
Run with STD/
base_callers/
training_data/
training_data_mb4000/
training_data_merged/
training_data_with_bg/
training_data_matched/
training_data_matched_full/
deep-learning-peak-detection-main/
base_caller_model.keras
base_caller_model_with_bg.keras
base_caller_model_matched.keras
base_caller_model_combined_checkpoint.keras
base_caller_model_matched_confidence.csv
base_caller_model_with_bg_confidence.csv
*.npz
*.h5
env/
